/*lush_mx420.css*/
body{
    overflow-x: hidden;
}
div.mnWrap{
    height: 90vh;
}
div.mnWrap video{
    width: auto;
}
div.mnWrap .title{
    width: 100%;
}
div.mnWrap .title main{
    width: 80%; height: 100px;
}
div.mnWrap menu{
    bottom: 8%;
}

div.hdrWrap header{
    max-width: 420px; width: 90%; height: 90px; margin: 0;
    justify-content: space-between;
}
div.hdrWrap header .image{
    background-size: 100%; width: 70px; height: 20px;
    margin-left: 30px;
}
div.hdrWrap header nav{
    display: none;
}
div.hdrWrap header menu{
    margin-right: 30px;
}


div.content{
    padding-top: 100px;
}
div.content header h1{
    font-size: 72px;
}
div.ct1 header nav h4{
    margin: 0 15px;
    font-size: 14px; line-height: 40px;
}
div.ct1 section{
    padding: 0 20px;
}
div.ct1 section article{
    width: calc(50% - 20px);
}
div.ct1 section article:nth-of-type(1),
div.ct1 section article:nth-of-type(2),
div.ct1 section article:nth-of-type(5),
div.ct1 section article:nth-of-type(6){
    display: none;
}
div.ct1 section article .image{
    height: 160px;
}
div.ct1 section article .texts{
    margin-top: 10px;
}
div.ct1 section article .texts h3{
    font-size: 16px; line-height: 20px;
}
div.ct1 section article .texts h5{
    font-size: 12px; height: 20px; overflow: hidden;
}
div.ct1 .bar{
    padding-top: 40px;
}
div.ct1 .bar figure{
    width: 80%;
}


div.banner{
    padding-top: 120px;
}
div.banner .image{
    height: 400px;
    background-size: auto;
    background-repeat: no-repeat;
}
div.banner .image section .texts{
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 60px;
}
div.banner .image section .texts h4{
    line-height: 40px;
}
div.banner .image section .texts h2{
    font-size: 60px; letter-spacing: -3px;
}
div.banner .image section .texts h3{
    margin-top: 20px; line-height: 20px;
}
div.banner .image section .texts p{
    display: none;
}
div.banner .image section .texts button{
    margin-top: 100px;
}

div.mnArt{
    display: block;
    width: 100%;
}
div.mnArt article{
    width: 100%;
}
div.mnArt article{
    margin-top: 0px;
}
div.mnArt article:nth-of-type(1){
    margin-top: 0px;
}


div.ct2{
    width: 85%;
    padding-top: 80px;
}
div.ct2 .texts{
    width: 100%;
    margin: 0 auto;
}
div.ct2 .texts h2{
    font-size: 60px; letter-spacing: -3px;
}
div.ct2 .texts h3{
    margin-top: 0;
    font-size: 18px; line-height: 40px;
}
div.ct2 .texts p{
    font-size: 14px; line-height: 20px;
}
div.ct2 .texts .sub{
    font-size: 48px; line-height: 80px; margin-top: 40px; letter-spacing: -3px;
}
div.ct2 .texts .underline{
    background-size: 60%;
    top: 240px; left: -10px;
}
div.ct2 .texts ul{
    margin-top: 20px;
}
div.ct2 .texts ul li span{
    font-size: 16px;
}
div.ct2 .texts ul li{
    font-size: 14px;
}
div.ct2 section{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
div.ct2 section article{
    width: calc(100% / 2 - 20px);
    margin-top: 10px;
}
div.ct2 section article:nth-of-type(3)~*{
    margin-top: 10px;
}
div.ct2 section article .image{
    height: 150px;
}


div.ftrBanner{
    display: none;
}


div.ftrWrap{
    padding: 30px 0;
    margin-top: 80px;
}
div.ftrWrap footer .logo{
    background-size: 100%; width: 70px; height: 20px;
}
div.ftrWrap footer nav{
    display: none;
}
div.ftrWrap section{
    margin: 0;
}
div.ftrWrap section ul{
    display: none;
}