/*sub4_mx780.css*/
div.hdrImg{}
div.hdrImg figure{
    height: 300px;
}
div.hdrImg figure .texts{
    padding-top: 80px;
}
div.hdrImg figure .texts h2{
    font-size: 72px; line-height: 80px;
}
div.hdrImg figure .texts h4{
    font-size: 16px;
}


div.hdrWrap{
    padding: 0;
}
div.hdrWrap header h1{
    background-size: 90%;
    background-position: center;
}
div.hdrWrap header nav h2{
    padding: 0 10px;
}
div.hdrWrap header menu i{
    margin: 0 15px;
}


.content.ct1 header ul li{
    margin: 0 15px; font-size: 14px;
}
.content.ct1 header .search{
    height: 40px;
}
.content.ct1 header .search button{
    font-size: 14px;
}


.content.ct1 section article{
    width: calc(50% - 20px);
    margin-top: 20px;
}
.content.ct1 section article:nth-of-type(3){
    margin-top: 20px;
}
.content.ct1 section article .image{
    height: 210px;
}


div.ftrWrap{
    padding: 60px 0;
    margin-top: 120px;
}
div.ftrWrap footer{
    margin-top: 20px;
}
div.ftrWrap footer ul{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
div.ftrWrap footer ul li:nth-of-type(3){
    margin-top: 0;
}
div.ftrWrap footer p{
    display: none;
}