/*common.css*/
@import url('all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@font-face{
    font-family: "Noto Sans KR";
    font-weight: 100;
    src: url('../../fonts/NotoSansKR-Thin.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 300;
    src: url('../../fonts/NotoSansKR-Light.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 700;
    src: url('../../fonts/NotoSansKR-Medium.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 900;
    src: url('../../fonts/NotoSansKR-Black.otf');
}
@font-face{
    font-family:"parkway lush";
    font-weight: 100;
    src: url('../../fonts/parkway lush.otf');
}
body{
    font-family: "Noto Sans KR", "돋움", "Sans-serif";
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
*.clear::after{
    display: block; content:'';
    clear:both;
}

/*글로벌 헤더*/
div.hdrWrap{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 20px 0;
    transition: 1s;
}
div.hdrWrap header{
    max-width: 1200px; width: 90%; height: 100px; margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.hdrWrap header h1{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 100px; height: 26px;
    margin-left: 10px;
    text-indent: -9999px; cursor: pointer;
}
div.hdrWrap header h1 a{
    display: block;
    width: 100%; height: 100%;
}

div.hdrWrap header nav{
    text-transform: uppercase;
    display: flex;
}
div.hdrWrap header nav h2{
    font-size: 16px;
    margin: 0 5px;
    
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    border-radius: 20px;
    padding: 4px 20px;
}
div.hdrWrap header nav h2:hover{
    background-size: 100% 100%;
    color: #FFF;
}
div.hdrWrap header menu{
    font-size: 16px;
    display: flex;
    margin-right: 10px;
}
div.hdrWrap header menu i{
    margin: 0 20px;
}
div.hdrWrap header menu i:nth-of-type(3){
    margin-right: 0;
}

/*헤더 메인 이미지*/
div.hdrImg{}
div.hdrImg figure{
    width: 100%; height: 560px;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
}
div.hdrImg .texts{
    text-align: center; color: #fff;
    padding-top: 200px;
}
div.hdrImg .texts h2{
    font-family: "parkway lush";
    font-size: 108px; line-height: 100px; letter-spacing: -6px;
}
div.hdrImg .texts h4{
    font-size: 18px; line-height: 40px; font-weight: 500;
}


/*글로벌 콘텐츠*/
div.content{
    padding: 320px 0;
}
div.content header{
    width: 90%; max-width: 1200px; margin: 0 auto;
}
div.content header h3{
    font-size: 24px; font-weight: 700; line-height: 80px;
    border-top: 1px solid #000;
}
div.content section{
    width: 90%; max-width: 1200px; margin: 0 auto;
}
div.content section h5{
    color: #999;
}
div.content section h3{
    font-size: 30px; font-weight: 700; line-height: 40px;
}
div.content section h4{
    font-size: 16px; line-height: 40px;
}

button{
    border: 0; background-color: transparent; cursor: pointer; font-size: 16px; color: #fff;
    text-decoration: underline; text-transform: uppercase; letter-spacing: 2px;
}

/*배너*/
div.banner{}
div.banner section{
    width: 90%; max-width: 1200px; margin: 0 auto;
}

/*글로벌 푸터*/
div.ftrWrap{
    background-color: #000; color: #fff;
    padding: 80px 0;
}
div.ftrWrap header{
    width: 90%; max-width: 1200px; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.ftrWrap header .logo{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 100px; height: 26px;
    margin-left: 10px;
    text-indent: -9999px; cursor: pointer;
}
div.ftrWrap header .logo a{
    display: block;
    width: 100%; height: 100%;
}
div.ftrWrap header nav{
    display: flex;
}
div.ftrWrap header nav h2{
    font-size: 16px; font-weight: 500; margin-left: 80px;
}
div.ftrWrap footer{
    width: 90%; max-width: 1200px; margin: 0 auto;
    font-size: 16px;
    margin-top: 40px;
    display: flex;
}
div.ftrWrap footer ul{
    width: calc(25% - 20px);
    margin-left: 10px;
}
div.ftrWrap footer ul li:nth-of-type(3){
    margin-top: 20px;
}
div.ftrWrap footer p{
    margin-left: 35px;
}