/*lush_mx1080.css*/
div.mnWrap{
    height: 700px;
}
div.mnWrap .title main{
    width: 80%; height: 230px;
}
div.mnWrap menu{
    bottom: 12%;
}


div.hdrWrap header .image{
    background-size: 100%;
}


div.ct1{
    padding: 160px 0 200px;
}
div.ct1 section{
    padding: 0 40px;
}
div.ct1 section article{
    width: calc(25% - 20px);
}
div.ct1 section article:nth-of-type(1),
div.ct1 section article:nth-of-type(6){
    display: none;
}
div.ct1 section article .image{
    height: 210px;
}
div.ct1 section article .texts{
    margin-top: 10px;
}
div.ct1 .bar figure{
    width: 85%;
}


div.banner .image{
    height: 500px;
}
div.banner .image section .texts{
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
}

div.mnArt{
    display: block;
}
div.mnArt article{
    width: 100%;
    margin-top: 40px;
}
div.mnArt article:nth-of-type(1){
    margin-top: -40px;
}


div.ct2{
    padding: 200px 0;
}
div.ct2 header{
    width: 85%;
    margin: 0 auto;
}
div.ct2 header .hgroup{
    width: 100%; margin: 0;
}
div.ct2 header .hgroup .sub{
    margin-top: 40px;
}
div.ct2 header .hgroup .underline{
    background-size: 80%;
    top: 320px; left: -20px;
}
div.ct2 header .hgroup ul li span{
    font-size: 24px;
}
div.ct2 section{}
div.ct2 section .artGroup{
    width: 100%; margin: 0;
}
div.ct2 section article{
    width: calc(100% / 3 - 40px);
}
div.ct2 section article .image{
    height: 230px;
    background-size: 80%;
}

div.particle{
    display: none;
}


div.ftrBanner section article h3{
    font-size: 16px; line-height: 20px;
}


div.ftrWrap{
    padding: 60px 0;
}
div.ftrWrap header nav{
    display: none;
}
div.ftrWrap footer{
    font-size: 14px;
}