/*lush_mx420.css*/
div.mnWrap{
    height: 90vh;
}
div.mnWrap .title main{
    width: 100%; height: 230px;
}
div.mnWrap menu{
    bottom: 8%;
}
/* div.hdrWrap header nav{
    display: none;
} */
div.hdrWrap{
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}


div.content{
    padding: 100px 0;
}

div.ct1 header h1{
    font-size: 72px; line-height: 60px;
}
div.ct1 header nav h4{
    margin: 0 15px; font-size: 14px;
}
div.ct1 section{
    padding: 0 20px;
}
div.ct1 section article{
    width: calc(50% - 20px);
}
div.ct1 section article:nth-of-type(1),
div.ct1 section article:nth-of-type(2),
div.ct1 section article:nth-of-type(5),
div.ct1 section article:nth-of-type(6){
    display: none;
}
div.ct1 section article .texts h3{
    font-size: 16px; line-height: 20px;
}
div.ct1 section article .texts h5{
    font-size: 12px; height: 20px; overflow: hidden;
}
div.ct1 .bar{
    padding-top: 40px;
}


div.banner{}
div.banner .image{
    height: 400px;
    background-repeat: no-repeat;
}
div.banner .image section .texts{
    width: 100%;
    padding: 20px;
    padding-top: 60px;
}
div.banner .image section .texts h4{
    line-height: 40px;
}
div.banner .image section .texts h2{
    font-size: 60px; letter-spacing: -3px;
}
div.banner .image section .texts h3{
    margin-top: 20px; line-height: 20px;
}
div.banner .image section .texts p{
    display: none;
}
div.banner .image section .texts button{
    margin-top: 100px;
}

div.mnArt{
    display: block;
    width: 100%;
}
div.mnArt article{
    margin-top: 0px;
}
div.mnArt article:nth-of-type(1){
    margin-top: 0px;
}


div.ct2{}
div.ct2 .hgroup {}
div.ct2 .hgroup h2{
    font-size: 60px; letter-spacing: -3px;
}
div.ct2 .hgroup h3{
    font-size: 18px; margin-top: 0px;
}
div.ct2 .hgroup p{
    font-size: 14px; line-height: 20px;
}
div.ct2 .hgroup .sub{
    line-height: 60px;
    font-size: 48px; color: #FC0; letter-spacing: -3px;
}
div.ct2 header .hgroup .underline{
    display: none;
}
div.ct2 header .hgroup ul li{
    font-size: 14px;
}
div.ct2 header .hgroup ul li span{
    font-size: 16px;
}
div.ct2 section .artGroup article{
    width: calc(100% / 2); margin: 0;
}
div.ct2 section .artGroup article .image{
    height: 160px;
}


div.ftrBanner{
    display: none;
}


div.ftrWrap{
    padding: 40px 0;
}
div.ftrWrap header .logo{
    background-size: 90%;
    background-position: center;
}
div.ftrWrap footer{
    margin: 0;
}
div.ftrWrap footer ul{
    display: none;
}