/*sub1_mx1080.css*/
div.hdrImg{}
div.hdrImg figure{
    height: 420px;
}
div.hdrImg figure .texts{
    padding-top: 120px;
}


div.hdrWrap header .image{
    background-size: 100%;
}


div.ct1{}
div.ct1 section .image{
    height: 360px;
}
div.ct1 section .info{
    height: 300px;
}
div.ct1 section .info .texts{
    padding: 40px 50px;
}
div.ct1 section .info .texts h3{
    font-size: 30px;
}
div.ct1 section .info .texts h4{
    font-size: 16px; line-height: 20px;
}
div.ct1 section .info .texts h5{
    display: none;
}
div.ct1 section .info .texts .star{
    display: none;
}
div.ct1 section .info .texts .price{
    margin-top: 20px;
}
div.ct1 section .info .texts .price .first{
    font-size: 16px; line-height: 30px;
}
div.ct1 section .info .texts .price .first li:nth-of-type(4){
    line-height: 60px;
}
div.ct1 section .info .texts .price .second{
    font-size: 16px; line-height: 30px;
}
div.ct1 section .info .texts .price .second li{}
div.ct1 section .info .texts .price .second .total{
    font-size: 24px; line-height: 50px; 
}
div.ct1 section .info .icons{
    height: 60px; padding: 20px 50px;
    margin-top: -10px;
}
div.ct1 section .info .icons ul li{
    font-size: 14px;
}


div.youtube{}
div.youtube section{}
div.youtube section iframe{
    height: 480px;
}


div.ct2{}
div.ct2 section:nth-of-type(1) article .image{
    height: 200px;
    background-size: 100%;
}
div.ct2 section article .image .texts{
    padding: 25px;
}
div.ct2 section article .image .texts h3{
    font-size: 18px; line-height: 20px; height: 40px;
}
div.ct2 section article .image .texts h4{
    font-size: 14px; line-height: 20px; margin-top: 10px;
}
div.ct2 section:nth-of-type(1) article .description{
    padding: 25px;
}
div.ct2 section:nth-of-type(1) article .description p{
    height: 100px;
}
div.ct2 .mark article .image{
    background-size: contain;
}
div.ct2 .mark article p{
    height: 100px;
}


div.banner .texts{
    padding: 40px;
    top: 200px;
}
div.banner .texts h3{
    font-size: 24px; line-height: 30px; margin-top: 10px;
}
div.banner .texts h4{
    font-size: 16px;
}
div.banner .texts .btn button{
    font-size: 14px;
}
div.banner figure{
    height: 390px;
}


div.ct3{
    padding-top: 0;
}
div.ct3 section article .image{
    height: 200px;
    background-size: 100%;
}
div.ct3 section article .image .texts{
    padding: 25px;
}
div.ct3 section article .image .texts h3{
    font-size: 24px; letter-spacing: -3px; line-height: 30px;
}
div.ct3 section article .goto{
    padding: 25px;
}
div.ct3 section article .goto button{
    padding-top: 60px;
}

div.comment section .comBox .star h5{}
div.comment section .comBox .star h5 input{
    width: 50%;
}
div.comment section .comBox .star h5:nth-of-type(1){
    width: 6%;
}
div.comment section .comBox .star .rating{
    width: 20%;
}


div.ftrWrap{
    padding: 60px 0;
}
div.ftrWrap header nav{
    display: none;
}
div.ftrWrap footer{
    font-size: 14px;
}