/*sub2_mx780.css*/
div.hdrImg{}
div.hdrImg figure{
    height: 300px;
}
div.hdrImg figure .texts{
    padding-top: 80px;
}
div.hdrImg figure .texts h2{
    font-size: 72px; line-height: 80px;
}
div.hdrImg figure .texts h4{
    font-size: 16px;
}


div.hdrWrap{
    padding: 0;
}
div.hdrWrap header h1{
    background-size: 90%;
    background-position: center;
}
div.hdrWrap header nav{}
div.hdrWrap header nav h2{
    padding: 0 10px;
}
div.hdrWrap header menu i{
    margin: 0 15px;
}


div.ct1 section{
    display: block;
}
div.ct1 section .sec1{
    width: calc(100% - 20px);
    margin: 0 auto;
}
div.ct1 section .sec1 .art1 .image{
    height: 400px;
}
div.ct1 .sec1 .art1 .texts{
    padding: 25px;
    padding-top: 170px;
}
div.ct1 section .sec2{
    display: flex;
    justify-content: space-around;
    width: calc(100% - 20px);
    margin: 0 auto;
}
div.ct1 section .art2{
    width: 100%;
    margin-top: 20px;
}
div.ct1 section .art3{
    margin: 0; width: 100%;
    margin-top: 20px;
}
div.ct1 .sec2 .texts{
    padding: 25px;
}
div.ct1 section article .texts .btn{
    margin-top: 60px;
}
div.ct1 section .art3 .texts .btn{
    margin-top: 90px;
}

div.ct2 section article{
    width: calc(100% / 3 - 20px);
    margin-top: 20px;
}
div.ct2 section article .image{
    height: 180px;
}


div.ftrWrap{
    padding: 60px 0;
    margin-top: 120px;
}
div.ftrWrap footer{
    margin-top: 20px;
}
div.ftrWrap footer ul{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
div.ftrWrap footer ul li:nth-of-type(3){
    margin-top: 0;
}
div.ftrWrap footer p{
    display: none;
}