/*sub2.css*/
div.hdrWrap{
    background-color: #000;
    position: static;
    transition: 0s;
}
div.hdrImg figure{
    background-image: url(../img/sub3_01.jpg);
}

div.ct1{
    padding: 0;
    padding-top: 40px;
}
div.ct1 header h3{
    border-top: 0;
    border-bottom: 1px solid #000;
    margin: 0 10px;
}
div.ct1 section{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
div.ct1 .sec1{
    width: calc(50% - 20px);
}
div.ct1 .sec2{
    width: calc(50% - 20px);
}
div.ct1 section article{
    position: relative;
}
div.ct1 section .art3{
    margin-top: 20px;
}
div.ct1 section article .image{
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
div.ct1 section article .i1 video{
    width: auto; height: 680px;
}
div.ct1 section article .i1{
    height: 680px;
    background-position: center;
    background-size: cover;
}
div.ct1 section article .i2{
    height: 330px;
    background-image: url(../img/sub3_03.jpg);
}
div.ct1 section article .i3{
    height: 330px;
    background-image: url(../img/sub3_04.jpg);
}
div.ct1 .sec1 .art1 .texts{
    width: 100%; height: 100%;
    color: #fff;
    padding: 40px;
    position: absolute; top: 0; left: 0;
    text-align: center;
    padding-top: 280px;
}
div.ct1 .sec2 .texts{
    width: 100%; height: 100%;
    color: #fff;
    padding: 40px;
}
div.ct1 section article .texts h3{
    line-height: 30px;
}
div.ct1 .sec1 .art1 .texts h3{
    font-family: 'parkway Lush'; font-size: 48px; line-height: 40px;
}
div.ct1 section article .texts h4{
    font-size: 18px;
}
div.ct1 section article .texts h5{
    color: #fff; line-height: 40px; letter-spacing: 2px;
}
div.ct1 section article .texts .btn{
    text-align: right;
    margin-top: 120px;
}
div.ct1 section .art3 .texts .btn{
    margin-top: 150px;
}

div.ct2{
    padding: 0;
    padding-top: 40px;
}
div.ct2 header h3{
    border-top: 0;
    border-bottom: 1px solid #000;
    margin: 0 10px
}
div.ct2 section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.ct2 section article{
    width: calc(25% - 20px);
    margin-top: 40px;
}
div.ct2 section article .image{
    height: 280px; background-color: #fff;
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}
div.ct2 section article .image:hover{
    background-size: 100%;
}
div.ct2 section article .i1{background-image: url(../img/sub3_05.jpg);}
div.ct2 section article .i2{background-image: url(../img/sub3_06.jpg);}
div.ct2 section article .i3{background-image: url(../img/sub3_07.jpg);}
div.ct2 section article .i4{background-image: url(../img/sub3_08.jpg);}
div.ct2 section article .i5{background-image: url(../img/sub3_09.jpg);}
div.ct2 section article .i6{background-image: url(../img/sub3_10.jpg);}
div.ct2 section article .i7{background-image: url(../img/sub3_11.jpg);}
div.ct2 section article .i8{background-image: url(../img/sub3_12.jpg);}
div.ct2 section article .i9{background-image: url(../img/sub3_13.jpg);}
div.ct2 section article .i10{background-image: url(../img/sub3_14.jpg);}
div.ct2 section article .i11{background-image: url(../img/sub3_15.jpg);}
div.ct2 section article .i12{background-image: url(../img/sub3_16.jpg);}

div.ct2 section article .texts h4{
    text-align: center;
    font-family: 'parkway Lush'; font-size: 24px;
}
div.ct2 section article .texts h5{
    text-align: center;
}
div.ct2 section article .texts hr{
    height: 1px; background-color: #999;
    margin-top: 20px;
}
div.ct2 section article .texts ul{
    display: flex;
    justify-content: space-between;
    line-height: 40px; font-size: 16px; font-weight: 500;
}
div.ct2 section article .texts ul li i:nth-of-type(2){margin-left: 4px;}


div.ftrWrap{
    margin-top: 200px;
}