/*sub3.css*/
div.hdrWrap{
    background-color: #000;
    position: static;
    transition: 0s;
}
div.hdrImg figure{
    background-image: url(../img/sub2_01.jpg);
}

div.ct1{
    padding: 0;
}
div.ct1 section{
    margin-top: -40px;
}
div.ct1 section article{
    margin: 0 10px;
}
div.ct1 section article .image{
    height: 400px;
    background-image: url(../img/sub2_02.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
}
div.ct1 section article .texts{
    padding: 40px; color: #fff;
}
div.ct1 section article .texts h5{
    letter-spacing: 2px; color: #fff;
}
div.ct1 section article .texts .btn{
    text-align: right;
}
div.ct1 section article .texts button{
    margin-top: 200px; line-height: 40px;
}
div.ct1 .sec2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
div.ct1 .sec2 article{
    width: calc(50% - 10px);
    position: relative;
}
div.ct1 .sec2 article .map{
    background-color: rgba(0, 0, 0, 0.7);
}
div.ct1 .sec2 article .map iframe{
    mix-blend-mode: multiply;
}
div.ct1 .sec2 article .texts{
    width: 100%;
    position: absolute; top: 0;
}


div.ct2{
    padding: 0;
    padding-top: 80px;
}
div.ct2 header h3{
    margin: 0 10px;
}
div.ct2 section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.ct2 section article{
    width: calc(25% - 20px);
    position: relative;
    margin-top: 20px;
    
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
div.ct2 section article:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

div.ct2 section article:nth-of-type(1),
div.ct2 section article:nth-of-type(2),
div.ct2 section article:nth-of-type(3),
div.ct2 section article:nth-of-type(4){
    margin-top: 0;
}

div.ct2 section article .image{
    height: 400px; background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}
div.ct2 section article .i1{background-image: url(../img/sub2_03.jpg);}
div.ct2 section article .i2{background-image: url(../img/sub2_04.jpg);}
div.ct2 section article .i3{background-image: url(../img/sub2_05.jpg);}
div.ct2 section article .i4{background-image: url(../img/sub2_06.jpg);}
div.ct2 section article .i5{background-image: url(../img/sub2_07.jpg);}
div.ct2 section article .i6{background-image: url(../img/sub2_08.jpg);}
div.ct2 section article .i7{background-image: url(../img/sub2_09.jpg);}
div.ct2 section article .i8{background-image: url(../img/sub2_10.jpg);}
div.ct2 section article .i9{background-image: url(../img/sub2_11.jpg);}
div.ct2 section article .i10{background-image: url(../img/sub2_12.jpg);}
div.ct2 section article .i11{background-image: url(../img/sub2_13.jpg);}
div.ct2 section article .i12{background-image: url(../img/sub2_14.jpg);}
div.ct2 section article .texts{
    width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    padding: 30px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}
div.ct2 section article .texts h4{
    line-height: 20px; font-size: 18px; font-weight: 500;
}
div.ct2 section article .texts h4:nth-of-type(2){
    line-height: 40px;
}
div.ct2 section article .texts p{
    font-size: 12px;
}


div.ftrWrap{
    margin-top: 200px;
}