/*sub3_mx780.css*/
div.hdrImg{}
div.hdrImg figure{
    height: 300px;
}
div.hdrImg figure .texts{
    padding-top: 80px;
}
div.hdrImg figure .texts h2{
    font-size: 72px; line-height: 80px;
}
div.hdrImg figure .texts h4{
    font-size: 16px;
}


div.hdrWrap{
    padding: 0;
}
div.hdrWrap header h1{
    background-size: 90%;
    background-position: center;
}
div.hdrWrap header nav h2{
    padding: 0 10px;
}
div.hdrWrap header menu i{
    margin: 0 15px;
}


div.ct1 .sec1 article .image{
    height: 320px;
}
div.ct1 .sec1 article .texts{
    padding: 35px; height: 100%;
}
div.ct1 .sec1 article .texts h3{
    font-size: 24px;
}
div.ct1 .sec1 article .texts .btn button{
    margin-top: 160px;
}

div.ct1 .sec2{
    display: block;
}
div.ct1 .sec2 article{
    width: calc(100% - 20px);
    margin-top: 20px;
}
div.ct1 .sec2 article .map{
    height: 320px;
}
div.ct1 .sec2 article .map iframe{
    height: 320px;
}
div.ct1 .sec2 article .texts{
    padding: 35px; height: 100%;
}
div.ct1 .sec2 article .texts h3{
    font-size: 24px;
}
div.ct1 .sec2 article .texts .btn button{
    margin-top: 160px;
}


div.ct2 section article{
    width: calc(50% - 20px);
    margin-top: 20px;
}
div.ct2 section article .image{
    background-size: cover;
    background-repeat: no-repeat;
}
div.ct2 section article:nth-of-type(3),
div.ct2 section article:nth-of-type(4){
    margin-top: 20px;
}


div.ftrWrap{
    padding: 60px 0;
    margin-top: 120px;
}
div.ftrWrap footer{
    margin-top: 20px;
}
div.ftrWrap footer ul{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
div.ftrWrap footer ul li:nth-of-type(3){
    margin-top: 0;
}
div.ftrWrap footer p{
    display: none;
}